td {
    padding: 5px;
}

.hidden {
    display: none !important;
}

.toggle-change-password {
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

#change-password-form {
    display: grid;
    grid-template-columns: max-content 200px;
    grid-template-rows: auto auto auto;
    gap: 10px;

    border: 2px dashed #888;
    width: fit-content;
    padding: 10px;
    margin-bottom: 20px;
}

#change-password-form .change-password-heading {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    margin-bottom: 20px;
}

#change-password-form > label {
    justify-self: start;
    align-self: center;
}

#change-password-form > input[type="submit"] {
    grid-column-start: 1;
    grid-column-end: 3;
}

.redirection-list {
    position: relative;

    border: 2px solid #b3c6db;
    border-radius: 5px;
    background-color: #dce3eb;
    width: min(100%, 800px);

    margin: 0 auto;
    overflow: hidden;
}

.redirection-list h2 {
    background-color: #b3c6db;
    margin: 0;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #1d222b;
    margin-bottom: 5px;

    box-shadow: 0px 0px 3px rgba(63, 63, 63, 0.795);
}

.redirection-list-items {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.redirection-list-items > :first-child {
    border-radius: 5px 5px 0 0;
}

.redirection-list-items > :last-child {
    border-radius: 0 0 5px 5px;
}

.redirection-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    max-width: 100%;

    background-color: #ffffff;
    box-shadow: 0px 0px 3px rgba(63, 63, 63, 0.603);
}

.redirection-card__destination, 
.redirection-card__short-link {
    display: grid;
    grid-template-columns: 50px auto;
    align-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.redirection-card__short-link {
    margin-bottom: 3px;
}

.redirection-card__short-link a,
.redirection-card__short-link a:visited {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
    color: blue
}

.redirection-card__short-link__baseurl {
    color: rgb(120, 152, 255);
    text-decoration: underline;
}

.redirection-card__destination {
    margin-bottom: 15px;
}

.redirection-card__destination a, 
.redirection-card__destination a:visited{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 196)
}

.redirection-card__controls button {
    padding: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #444444;
    text-decoration: underline;
}

.popup-overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(193, 209, 230, 0.8);    
    backdrop-filter: blur(3px);
    padding: 10px;
    box-sizing: border-box;

    display: grid;
    place-content: center;
}

.popup-dialog {
    background-color: rgb(241, 249, 253);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 3px rgba(63, 63, 63, 0.5);
    box-sizing: border-box;
}

.popup-dialog h2 {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #51565c;
}

.popup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 300px;
}

.popup-form input[type="text"] {
    width: 100%;

    box-sizing: border-box;

    background-color: transparent;
    border: 2px solid #8b8b8b42;
    border-radius: 3px;
    padding: 3px;

    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.popup-form input[type="text"]::placeholder{
    font-weight: bold;
    color: #8e9092;
}

.form-controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #8b8b8b3a;
}

.form-controls input[type="submit"],
.form-controls input[type="button"] {
    align-self: flex-end;
    width: 100%;

    max-width: fit-content;
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 100px;

    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;

    cursor: pointer;
}

.form-controls .btn-submit {
    color: rgb(24, 88, 206);
}

.form-controls .btn-cancel {
    color: rgb(185, 58, 58);
}

.ui-action-btn {
    background-color: transparent;
    color: rgb(0, 61, 192);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}