<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShortLink dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/shortlink/view/css/dashboard.css">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/shortlink/view/js/dashboard.js" type="module" defer></script>
</head>
<body>
    <div class="content">

    <div class="welcome-msg">
        Welcome to Shortlink dashboard, <span id="username">User</span>! <br> 
        You can manage your short-links (redirections) here. <br>
    </div>

    <div class="user-actions">
        <h2>User actions</h2>
        <ul>
            <li><div class="ui-action-btn" id="logout-btn">Log out</div></li>
            <li><div class="ui-action-btn" data-toggle-dialog="change-password-popup">Change password</div></li>
            <li><div class="ui-action-btn" data-toggle-dialog="link-create-popup">Create a redirection</div></li>
        </ul>
    </div>
    <div class="redirection-list">
        <h2>Your redirections</h2>
        <div class="redirection-list-items"></div>
    </div>
    <div class="redirection-card" data-ui-template>
        <div class="redirection-card__short-link">From: <a href="http://localhost:8080/yt"><span class="redirection-card__short-link__baseurl">http://localhost:8080/</span><span class="redirection-card__short-link__slug"></span></a></div>
        <div class="redirection-card__destination">To: <a href="https://youtube.com"><span class="redirection-card__destination__url">https://youtube.com</span></a></div>
        <div class="redirection-card__controls">
            <button class="redirection-card__controls__edit-btn">Edit</button>
            <button class="redirection-card__controls__delete-btn">Delete</button>
        </div>
    </div>
    <div class="popup-overlay hidden" id="link-create-popup">
        <div class="popup-dialog">
            <h2>Create a redirection</h2>
            <form id="link-create-form" class="popup-form">
                <input type="text" name="slug" placeholder="Backhalf" required>
                <input type="text" name="destination" placeholder="Destination" required>

                <div class="form-controls">
                    <input type="button" value="Cancel" class="btn-cancel">
                    <input type="submit" value="Create" class="btn-submit">
                </div>
            </form>
        </div>
    </div>
    <div class="popup-overlay hidden" id="link-update-popup">
        <div class="popup-dialog">
            <h2>Update a redirection</h2>
            <form id="link-update-form" class="popup-form">
                <label>
                    <span>Slug: </span>
                    <input type="text" name="slug" placeholder="Backhalf" required disabled>
                </label>
                <label>
                    <span>Destination: </span>
                    <input type="text" name="destination" placeholder="Destination" required>
                </label>

                <div class="form-controls">
                    <input type="button" value="Cancel" class="btn-cancel">
                    <input type="submit" value="Update" class="btn-submit">
                </div>
            </form>
        </div>
    </div>
    <div class="popup-overlay hidden" id="change-password-popup">
        <div class="popup-dialog">
            <h2>Change password</h2>
            <form id="change-password-form" class="popup-form">
                <input type="text" name="password" placeholder="New password" required>
                <div class="form-controls">
                    <input type="button" value="Cancel" class="btn-cancel">
                    <input type="submit" value="Change Password" class="btn-submit">
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>