<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log into ShortLink</title>
    <link rel="stylesheet" href="/shortlink/view/css/login.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <script src="/shortlink/view/js/login.js" defer></script>
</head>
<body>
    <div class="login-card-wrapper">
        <form id="login-form" class="login-card">
            <h1>Log in to ShortLink</h1>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="password">

            <input type="submit" value="Log In" class="submit-btn">
        </form>
    </div>
</body>
</html>